@media screen and (min-width: 900px) {
  .text-container {
    margin: 0 20%;
    text-align: center;
  }
}

* {
  color: white;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  text-align: center;
  margin: 0px;
  width: 100%;
  z-index: 5;
}

.heading {
  font-family: Roboto;
  font-weight: 100;
  text-align: center;
}

.subheading {
  font-family: Roboto;
  font-weight: 100;
  text-align: center;
  line-height: 2;
}

.content {
  padding-top: 170px;
  font-family: Roboto;
  font-weight: 100;
  text-align: center;
  margin: 0 20px;
}

.heading-content {
  margin-bottom: 50px;
}

.logo {
  height: 120px;
  width: 120px;
  padding: 10px;
  margin: 0px;
  background-color: white;
  border-radius: 10px;
}

.text-container {
  font-family: Roboto;
  font-weight: 100;
  font-size: larger;
  line-height: 3;
}

.dominicfoto {
  width: 400px;
  margin-bottom: 20px;
}
.bold {
  font-size: 2rem;
}

.icons {
  display: flex;
  justify-content: space-around;
}

footer {
  font-size: small;
  line-height: 0.5;
}
